.container-content {
    display: flex;
    flex-direction: column;
}
.menu-list {
    max-width: 500px!important;
}
.zigzag {
    width: 474px!important;
    height: 343px;
    transform: rotate(-6.1deg);
}
.zigzag-icon {
    width: 402px!important;
    height: 292px;
    margin-top: 60px;
}
.circle-icon {
    width: 100px!important;
    height: 92px;
    margin-top: 100px;
}
.what-help {
    width: 488px;
}
.work {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.work .exprience {
    max-width: 690px;
    margin-top: 50px;
}
.carousel .slide {
    height: 560px!important;
}
.carousel .slide img {
    max-width: 700px!important;
    height: auto;
}
.carousel .thumbs {
    display: none!important;
}
.dot.selected {
    background: #286F6C!important;
}
.carousel-status {
    color: #286F6C!important;
    font-size: 36px!important;
    left: 45%!important;
    top: 85%!important;
    font-family: 'Belleza!important';
}
.carousel.carousel-slider .control-arrow {
    background: #134776!important;
}
.control-dots {
    display: none!important;
}
.control-arrow .control-next {
    color: #134776!important;
}
.email {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    text-decoration: none;
}
.skill-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer {
    background: #286F6C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    column-gap: 4rem;
    padding: 100px 50px;
}
.social-link {
    display: flex;
    column-gap: 4rem;
    justify-content: center;
}
.copyright {
    position: relative;
    margin-top: 10px;
}
.tech__stack-text{
    font-family: 'cursive'!important;
    font-size: 22px!important;
    font-weight: 700 !important;
}
.previous__task {
    position: relative;
}
.previous__task figure img {
    opacity: 1;
}
.previous__task figure figcaption {
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    opacity: 0;
}
.previous__task:hover figure img {
    display: none;
    opacity: 0;
}
.previous__task:hover figure {
    position: relative;
}
.previous__task:hover figure figcaption {
    display: block;
    opacity: 1;
    z-index: 1;
}