html {
  font-family: 'cursive'!important;
}
body {
  margin: 0;
  font-family: 'cursive'!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F8F7F1;
}

code {
  font-family: 'cursive'!important;
}
